body {
    height: 100%;
    font-family: 'Racing Sans One', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: url('../images/cursor.png'), auto;
}

.form-backgroud {
    background-image: url('../images/background.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 8px;
    color: #eee;
    background-color: #444;
    border: 1px solid #444;
    margin-bottom: 15px;
    border-radius: 4px;
}

input[type="text"],
input[type="password"]:focus{
    background-color: #444;
}


input[type="submit"] {
    background-color: #FF0000;
    color: #fff;
    cursor: pointer;
    width: auto;
}

input[type="submit"]:hover {
    background-color: #cd0007;
}

label {
    display: block;
    color: #eee;
}

form img{
    max-width: 200px; 
    min-width: 200px;
    max-height: 100px; 
    min-width: 100px;
}