body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.backgroud {
    background-image: url('images/background3.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

form {
    width: 300px; /* Imposta la larghezza del form */
    margin: 0 auto; /* Imposta i margini a "auto" per centrare il form orizzontalmente */
    background-color: #f2f2f2; /* Colore di sfondo del form */
    border: 1px solid #ccc; /* Bordo */
    border-radius: 5px; /* Bordi arrotondati */
    padding: 20px; /* Spaziatura interna */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra */
    text-align: center; 
}


input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 20px); /* Larghezza dell'input con spazio per il bordo */
    margin-bottom: 10px; /* Spazio tra gli input */
    padding: 8px; /* Spaziatura interna */
    border: 1px solid #ccc; /* Bordo */
    border-radius: 4px; /* Bordi arrotondati */
}

input[type="submit"] {
    background-color: #FF0000; /* Colore di sfondo del pulsante di invio */
    color: #fff; /* Colore del testo del pulsante di invio */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse sul pulsante */
}

input[type="submit"]:hover {
    background-color: #cd0007; /* Colore di sfondo del pulsante di invio al passaggio del mouse */
}

label {
    display: block; /* Visualizza le etichette come blocchi separati */
    margin-bottom: 5px; /* Spazio tra le etichette */
}