body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: black;
    background-color: white;
    padding: 10px;
}

h2 {
    color: gray;
}

form {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
}

a {
    color: blue;
    text-decoration: none;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: green;
    border-radius: 4px;
}

/*news card*/
.news-card {
    background-color: #fff; /* Colore di sfondo */
    border: 1px solid #ccc; /* Bordo */
    border-radius: 5px; /* Bordi arrotondati */
    padding: 20px; /* Spaziatura interna */
    margin-bottom: 20px; /* Margine inferiore */
}

.news-card h2 {
    font-size: 20px; /* Dimensione del carattere del titolo */
    margin-bottom: 10px; /* Margine inferiore del titolo */
}

.news-card p {
    font-size: 16px; /* Dimensione del carattere del testo */
    color: #555; /* Colore del testo */
    margin-bottom: 0; /* Rimuove il margine inferiore del paragrafo */
}

/*footer*/
.footer-nav {
    text-align: center;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
}

.footer-nav ul li:last-child {
    margin-right: 0;
}

.footer-nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f2f2f2
}

.footer-nav ul li a:hover {
    background-color: #ddd;
}