body {
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    color: #ddd;
    margin: 20px;
    padding: 20px;
    cursor: url('../images/cursor.png'), auto;
    display: block;
}

h1 {
    color: #ddd;
    background-color: #222;
    padding: 10px;
}

h2 {
    color: #aaa;
}

form {
    margin-bottom: 20px;
    background-color: #333;
    padding: 20px;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #444;
    color: #ddd;
}

input[type="submit"] {
    background-color: #f64545;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f64556;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    background-color: #333;
    padding: 5px;
    border-radius: 4px;
}

a {
    color: #f64545;
    text-decoration: none;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #f64545;
    border-radius: 4px;
}

b {
    color: #f64545;
}

/* news card */
.news-card {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.news-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ddd;
}

.news-card p {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 0;
}

.post-image {
    max-width: 200px; 
    min-width: 200px;
    max-height: 100px; 
    min-width: 100px;
    margin-top: 10px; 
    border-radius: 10px;
}

/* posts */
.post-card {
    border: 1px solid #555;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
}

.post-comment {
    border: 1px solid #666;
    background-color: #444;
    border-radius: 20px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

.comment-form {
    border-radius: 20px;
    padding: 5px;
    margin-top: 0px;
    margin-right: 0px;
}

.navbar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    z-index: 1000;
}
  
.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
}
  

.nav-item {
    margin-right: 20px;
    background: transparent;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    text-decoration: none;
    color: #f64545;
    margin: 0 10px;
    font-size: 24px;
}

.nav-item a:hover {
    color: rgb(255, 102, 102);
}

.nav-item a i {
    margin-right: 5px;
}

.page-content {
    margin-left: 2%;
}

footer {
    margin-left: 2%;
}

.search-form {
    border-radius: 20px;
    margin-bottom: 20px;
}

.icon {
    color: #fff;
    text-decoration: none;
}